<link rel="stylesheet" type="text/css" href="/css/footer.css"/>
<footer class="jsx-3670029443 footer container-fluid">
    <div class="container extraSpace">
        <p class="jsx-3670029443 footerText subP">SOCIAL MEDIA</p>
        <ul class="centerLinks socialIcons">
            <li style="display:inline-block">
                <a href="https://www.instagram.com/qendrimveseli10/"><img src="/images/icons/instagram.png"></img></a>
            </li>
            <li style="display:inline-block">
                    <a href="https://www.facebook.com/qendrim.veseli.988"><img src="/images/icons/fb.png"></img></a>
            </li>
            <li style="display:inline-block">
                <a href="/contact"><img src="/images/icons/email.png"></img></a>
            </li>
        </ul>
    </div>

    <div class="bottomLinksDiv">
        <div class="container">
            <div class="row">
                <div class="col-6 col-md">
                    <a href="/">Home</a>
                </div><div class="col-md rm"><p>|</p></div>
                <div class="col-6 col-md">
                    <a href="#aboutMe" style="text-align: center">About Me</a>
                </div><div class="col-md rm"><p>|</p></div>
                <div class="col-6 col-md" >
                    <a href="#popularProjects">My Projects</a>
                </div><div class="col-md rm"><p>|</p></div>
                <div class="col-6 col-md">
                    <a href="#SocialMedia">My Social Media</a>
                </div><div class="col-md rm"><p>|</p></div>
                <div class="col-6 col-md">
                    <a href="/contact">Contact</a>
                </div>
            </div>
        </div>
    </div>
</footer>
<script src="/scripts/footerShift.js" type="text/javascript"></script>
