<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="css/page.css"/>
    <% include ../partials/includes %>
  </head>
  <body>
    <% include ../partials/nav %>
    <div class="homeImg">
        <div class="homeDiv center">
            <h1 class="titleMain">QENDRIM VESELI</h1>
            <h3>a Security Researcher and a self-taught coder</h3>
        </div>
        <div class="homeSouth">
            <h4><a class="stealthLink subPmin padX0" href="#">Read More</a></h4>
            <button class="smoothScrollBtn" type="button"><img src="/images/Down-Arrow-White.png" width="30"/></button>
        </div>
    </div>
    <div class="main" id="aboutMe">
    <div class="container-fluid aboutMe" >
            <div class="container aboutMe">
    <div class="container padY40 padX0">
  
                        <div class="jsx-617733361 container black"></div><h3 class="jsx-617733361 Title">About Me</h3>

                            <p class="jsx-617733361 subText extPad">Welcome to my website. 
                                I am Qendrim Veseli and I like messing with stuff.
                                I like messing with diffrent devices such as iPhones by jailbreaking them and computers in general.
                                Also I do a lot of research testing different websites and their security. 
                                I also like to make fun projects when I have time and try to learn different coding languages. 
                                Currently I can code in Python, C and Javascript. 
                                My projects can be found below.
                            </p>
            </div>
</div>
    </div>
    </div>

    <div class="main" id="popularProjects">                    
            <div class="jsx-617733361 container-fluid backDark sec padY40">
                    <div class="jsx-617733361 container white">
                        <div class="container padY40 padX0">
                        <div class="jsx-617733361 container popularProjects"><h5 class="jsx-617733361 h5spacing">My Projects</h5>
            
                    <div class="jsx-617733361 table-responsive"><div class="react-bootstrap-table"><table class="table"><thead><tr><th>Title</th><th>Description</th><th>Language</th>
                    
                    <span class="caret"></span></span></span></th></tr></thead><tbody><tr>
                    <td><a href="https://github.com/DevonCrawford/Video-Editing-Automation" 
                    class="plainLink" target="_blank">Instagram Bot Remover</a></td>
                    <td>Remove follower that you are not following. Selenium is required</td>
                    <td>Python</td>
                    </tr>
                    
                    <tr><td><a href="https://github.com/fulltimedev/converter" 
                    class="plainLink" target="_blank">Converter</a></td><td>Convert EP combo to EUP combo. Just paste your combo inside the Combo.txt file and click run</td>
                    <td>Python</td>
            
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            </div>
    </div>

    <div class="main" id="SocialMedia">
    <div class="container-fluid electronicsBack">
        <div class="container extraSpace">
            <h2 class="centerTitle subTitle padX0 padtop0">MY SOCIAL MEDIAS</h2>
            <div class="row">
                <div class="col-lg-4 tilePadWide">
                    <div>
                        <h3 class= "cenX subTitle padX0">INSTAGRAM</h3>
                        <a href="https://www.instagram.com/qendrimveseli10/"><img class= "centerBtn" src="/images/Instagram.jpg" width="300" height="200"></a>
                        </div>
                </div>
                <div class="col-lg-4 tilePadWide">
                    <div>
                        <h3 class="cenX subTitle padX0">FACEBOOK</h3>
                        <a href="https://www.facebook.com/qendrim.veseli.988"><img class = "centerBtn"src="/images/Facebook.png" width="200" height="200"></a>
                    </div>
                </div>
                <div class="col-lg-4 tilePadWide">
                    <div>
                        <h3 class="cenX subTitle padX0">MAIL</h3>
                        <a href="/contact"><img class = "centerBtn"src="/images/Mail.png" width="200" height="150"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    <% include ../partials/footer %>
    <script src="includes/jquery.min.js"></script>
    <!-- Odometr includes -->
    <link rel="stylesheet" href="includes/odometer-theme-default.css"/>
    <script src="includes/odometer.js"></script>
    <script type="text/javascript" src="scripts/main.js"></script>
  </body>
</html>

