<% var rootPath = '../../'; %>
<!DOCTYPE HTML>
<html>
    <head>
        <%- include(rootPath + 'partials/includes'); %>
    </head>
    <body>
        <link rel="stylesheet" href="css/page.css">

        <div class="container padY40 padX0">
  
                <h1 >How Are Hackers Able to Hack Your Accouns?</h1>
                <div class="container padY40 padX0">
                            <h3>Brute Forcing</h3>
    
                                <p class="jsx-617733361 subText">Brute Forcing is when the attacker uses a list of passwords until he guesses the right one.
                                                                This method works when the user is using a weak password or a common password.
                                                                For example the attacker can use 1 million of the most used passwords and see if any of them work.
                                                                Some sites have protection against this but a lot of them don't.
                                </p>
                </div>

                <h3>Using the same password</h3>

                <p class="jsx-617733361 subText">A lot of people use the same password on multiple websites. This is a terrible idea because a lot of companies have had their databases leaked.
                                                This means that all your personal information such as your email and password and even more is out there and anyone can see it, and if you use the same password they can easily get access to your other services.
                                                All passwords stored in a database are encrypted, so a strong password such as "Bl#uen$ig_htins)toke" is going to be extremely hard to crack while a password like "newyork2019" is going to be much easier to crack, so use a strong password.
                                                You can check if your account was found on any of the data breaches by clicking <a href="https://haveibeenpwned.com/">here.</a>
                                                Once you put your email on haveibeenpwned and your screen turns green that means your info wasn't found on any of the data breaches and you are good.
                                                However if the screen turns red that means your email was found on a data breach and you should not use that password that you used on that website.
                                            </p>
                 <div class="container padY40 padX0">
                <img src="/images/pwned.png">

                 </div>

                <div class="container padY40 padX0">
                <h3>Keylogging</h3>
                <p class="jsx-617733361 subText">Keylogging is a piece of software that runs in the background and will log everything you do.
                        So whatever you type, such as your email and password, your credit card number etc will go to the attacker.
                        It runs in the background so you may not even notice it however most antiviruses should detect it.
                        You can get a such malware by downloading something from a third-party or an untrusted website.
                        </p>

            </div>
            <h3>Phishing</h3>
                <p class="jsx-617733361 subText">Phishing is when the attacker has sent you an email or a link and pretends to be something he is not.
                        For example you will receive an email claiming to be from your bank and when you click on that link it will redirect you to a fake bank website which will ask you to enter the username and password.
                        The best thing to do in this type of situation is to go to the official website instead of clicking on the link. If you are going to click on the link, make sure the email address that the email was sent is the right one. Also make sure that you went to the correct domain.
                        </p>
                        <div class="container padY40 padX0">
                        <img src="/images/phishing.png">

                        <div class="container padY40 padX0">
                        <h3>What have we learned?</h3>
                        <ul>
                                <li>Always use a strong password.</li>
                                <li>Don't use the same password.</li>
                                <li>Install programs from trusted sources only.</li>
                                <li>Be careful when you open an email or a link.</li>
                              </ul>
                        
                              <center>
                              <h3>Have a Question?</h3>
                              </center>

                              <div class="container padY40 padX0">
                              <center>
                              <div class="jsx-617733361 col-md-4">
                                    <a href="/contact"><button type="button" class="jsx-617733361 btn btn-dark">Contact Me</button></a></div>
                              </center>
                              </div>
                        </div>

    </body>
</html>